.sign_up
  .sign_up__header
    .sign_up__header__logo
      = link_to image_tag("logo.png", class: "logo"), root_path
  
  .sign_up__main
    .sign_up__main__in
      %h2.sign_up__main__in__subtitle
        会員情報入力
      .sign_up__main__in__form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .sign_up__main__in__form__input
            .sign_up__main__in__form__input__nickname
              %labelニックネーム
              %span必須
              %br
              = f.text_field :nickname, class: 'input-box', placeholder: '例）フリマ太郎'

          .sign_up__main__in__form__input__mailadress
            %labelメールアドレス
            %span必須
            %br
            = f.text_field :email, class: 'input-box', placeholder: 'PC・携帯どちらでも可'          
          .sign_up__main__in__form__input__password
            %labelパスワード
            %span必須
            %br
            = f.text_field :encrypted_password, class: 'input-box', placeholder: '7文字以上の半角英数字'          
            %p.sign_up__main__in__form__input__password__info
              ※ 英字と数字の両方を含めて設定してください
            
          .sign_up__main__in__form__input__identification
            %h3本人確認
            %p.sign_up__main__in__form__input__identification__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          
          .sign_up__main__in__form__input__name-kanji
            %labelお名前（全角）
            %span必須
            %br
            .sign_up__main__in__form__input__name-kanji__box
              = f.fields_for :profile do |f|
                = f.text_field :family_name, class: 'fami-box', placeholder: '例）山田'          
                = f.text_field :first_name, class: 'input-box', placeholder: '例）彩'  

          .sign_up__main__in__form__input__name-katakana
            %labelお名前（カナ）
            %span必須
            %br
            .sign_up__main__in__form__input__name-katakana__box
              = f.fields_for :profile do |f|
                = f.text_field :family_name_kana, class: 'fami-box', placeholder: '例）ヤマダ'          
                = f.text_field :first_name_kana, class: 'input-box', placeholder: '例）アヤ'  

          .sign_up__main__in__form__input__birth
            %label生年月日
            %span必須
            %br
            .select
              = f.fields_for :profile do |f|
                = f.date_select :birth_day, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1), date_separator: '/ '
            
            %p.sign_up__main__in__form__input__birth__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません
            
          .sign_up__main__in__form__input__terms
            %p.sign_up__main__in__form__input__terms__text
              「登録する」のボタンを押すことにより、
              %p.terms
                = link_to "利用規約","#"
                に同意したものとみなします
          
          .sign_up__main__in__form__input__btn
            = f.submit '登録する', class: 'btn'
            

        
        .sign_up__main__in__form__input__plivacypolicy
          %p.sign_up__main__in__form__input__plivacypolicy__text
            This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.
        

  .sign_up__footer
    %ul.sign_up__footer__footer__etc
      %li
        = link_to "プライバシーポリシー","#",class: "link"
      %li
        = link_to "FURIMA利用規約","#",class: "link"
      %li
        = link_to "特定商取引に関する表記","#",class: "link"
    .sign_up__footer__logo
      = link_to image_tag("logo-white.png", class: "footerlogo"), root_path
      %p.footer__company-name
        © FURIMA 

