.mypage
  .mypage__header
    = render "/items/header"
  .mypage__pankuzuheader
    = render "/items/pankuzuheader"
  .mypage__main
    .mypage__main__in
      .mypage__main__in__side
        ã„
      .mypage__main__in__content
        ã‚
  .mypage__subfooter
    = render "/items/subfooter"
  .mypage__footer
    = render "/items/footer"
.button
  = render "/items/exhibit-btn"