.mypage
  .mypage__header
    = render "/items/header"
  .mypage__breadcrumbs
    = render "/items/bread-crumbs"
  .mypage__main
    .clearfix
      .mypage__main__content
        メイン
      .mypage__main__side
        さいど
  .mypage__subfooter
    = render "/items/subfooter"
  .mypage__footer
    = render "/items/footer"
.button
  = render "/items/exhibit-btn"