.wrapper
  .mypage
    .mypage__header
      = render "/items/header"
    .mypage__breadcrumbs
      = render "/items/bread-crumbs"
    .mypage__main
      .clearfix
        .mypage__main__content
          .mypage__main__content__upper
            .mypage__main__content__upper__btn
              = link_to "クレジットカード情報登録","/creditcards/show", data: {"turbolinks" => false}
        .mypage__main__side
          = render "mypage-side"
    .mypage__subfooter
      = render "/items/subfooter"
    .mypage__footer
      = render "/items/footer"
  .button
    = render "/items/exhibit-btn"
