.main
  .main__visual
    .main__visual__content
      %h2.main__visual__content__subtitle
        人生を変えるフリマアプリ
      %p.main__visual__content__text
        FURIMAは誰でも簡単に出品・購入できる 
        %br
        フリマアプリです
      .main__visual__content__btn
        = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class:"abtn"), "#"
        = link_to image_tag("google-play-badge.svg", class:"gbtn"), "#"

  .main__introduction 
    %h2.main__introduction__subtitle
      FURIMAが選ばれる3つの理由
      .after
    %ul.main__introduction__lists
      %li.main__introduction__lists__list
        .main__introduction__lists__list__pict
          %span.number 1
          = image_tag("pict-reason-01.jpg", class:"pict")
        %h3.main__introduction__lists__list__text
          %span 3分
          ですぐに出品
        %p.main__introduction__lists__list__description
          スマホで入力するだけで簡単に出品できる！

      %li.main__introduction__lists__list
        .main__introduction__lists__list__pict
          %span.number 2
          = image_tag("pict-reason-02.jpg", class:"pict")
        %h3.main__introduction__lists__list__text
          %span シンプル
          で使いやすい
        %p.main__introduction__lists__list__description
          めんどくさい入力は必要なく、検索も購入もスムーズ！

      %li.main__introduction__lists__list
        .main__introduction__lists__list__pict
          %span.number 3
          = image_tag("pict-reason-03.jpg", class:"pict")
        %h3.main__introduction__lists__list__text
          手数料
          %span 業界最安
        %p.main__introduction__lists__list__description
          最大3%でお得に出品&購入！

  .main__feature 
    %h2.main__feature__subtitle
      FURIMAの特徴
      .after
    %ul.main__feature__items
      %li.main__feature__items__item
        .main__feature__items__item__pict
          = image_tag("icon-01.png", class:"pict")
        %h3.main__feature__items__item__text
          簡単に売り買いできる
        %p.main__feature__items__item__description
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

      %li.main__feature__items__item
        .main__feature__items__item__pict
          = image_tag("icon-03.png", class:"pict")
        %h3.main__feature__items__item__text
          売上金は即日振込みに対応
        %p.main__feature__items__item__description
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        
      %li.main__feature__items__item
        .main__feature__items__item__pict
          = image_tag("icon-04.png", class:"pict")
        %h3.main__feature__items__item__text
          様々な支払いに対応
        %p.main__feature__items__item__description
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        

  .main__middle__dl
    .main__middle__dl__content
      %h2.main__middle__dl__content__subtitle
        会員数日本一
      %p.main__middle__dl__content__text
        FURIMAは、フリマアプリで最も人気
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__middle__dl__content__btn
        = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class:"abtn"), "#"
        = link_to image_tag("google-play-badge.svg", class:"gbtn"), "#"

  .main__bottom__dl
    .main__bottom__dl__content
      %h2.main__bottom__dl__content__subtitle
        誰でもかんたん、人生を変えるフリマアプリ
      %p.main__bottom__dl__content__text
        今すぐ無料ダウンロード！
      .main__bottom__dl__content__btn
        = link_to image_tag("Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class:"abtn"), "#"
        = link_to image_tag("google-play-badge.svg", class:"gbtn"), "#"