-# 商品購入確認ページ

.confirm

  .confirm__header
    .confirm__header__logo
      = link_to image_tag("logo.png"),"/"

  .confirm__main
    .confirm__main__field
      .confirm__main__field__items
        = form_tag(action: :payment, method: :post) do
          .confirm__main__field__items__header
            %h2.confirm-title
              購入内容の確認

          .confirm__main__field__items__item
            .confirm__main__field__items__item__area
              .confirm__main__field__items__item__area__box
                .confirm-itemImage
                  = image_tag @item.item_images[0].item_image.url
                  .confirm__itemText
                    .confirm-itemName
                      = @item.name
                    .confirm-itemPrice
                      ¥
                      = @item.price
                      = @item.delivery_price.delivery_price

          .confirm__main__field__items__price
            .confirm__main__field__items__price__area
              .confirm__main__field__items__price__area__box
                %ul.price-text-area
                  %li.price-title
                    支払い金額
                  %li.price-amount
                    ¥
                    = @item.price
                .price-point
                  = check_box_tag :check1
                  = label_tag :check1, "ポイントを使用(所持ポイント:P0)", class: "check-text"

          .confirm__main__field__items__pay
            .confirm__main__field__items__pay__area
              -if @card.blank?  
                .confirm__main__field__items__pay__area__box
                  .pay-method-box
                    .pay-method
                      %text 支払い方法
                      .pay-method-input-is
                        = link_to "/creditcard/new", data: {"turbolinks" => false} do
                          = icon("fas", "plus-circle") 
                          登録してください

              -else
                .confirm__main__field__items__pay__area__box-else
                  .pay-method-box-else
                    .pay-method-else
                      %text 支払い方法 
                      .pay-method-input-else
                        = "**** **** **** " + @default_card_information.last4
                        %br
                        - exp_month = @default_card_information.exp_month.to_s
                        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                        = exp_month + " / " + exp_year
                        %br
                      = image_tag "#{@card_src}", alt: @card_brand, id: "card_image"

          .confirm__main__field__items__shipping
            .confirm__main__field__items__shipping__area
              .confirm__main__field__items__shipping__area__box
                .shipping-box
                  .shipping-method
                    配送先
                  .shipping-method-input
                    = "〒" + @address.zip_code.to_s
                    %br
                    = @address.prefecuture
                    = @address.city
                    = @address.address
                    = @address.building_name
                    %br
                    = @address.family_name
                    = @address.first_name
          
          - if @card.blank?
            .confirm__main__field__items__buy
              .confirm__main__field__items__buy__area
                .confirm__main__field__items__buy__area__box
                  支払い方法の入力を完了してください。
                  .buy-link-box
                    .text-if
                      %text 購入する


          - else
            .confirm__main__field__items__buy
              .confirm__main__field__items__buy__area
                .confirm__main__field__items__buy__area__box
                  %section.buy-link-box
                    = submit_tag("購入する", class:"payment")

      .confirm__main__field__info
        .confirm__main__field__info__box
          %ul.info-navi
            %li.privacy-navi
              = link_to "#" do
                プライバシーポリシー
            %li.terms-of-service
              = link_to "#" do
                フリマ利用規約
            %li.trade-write
              = link_to "#" do
                特定商取引に関する表記
          .logo-area
            .logo-furima
              = link_to image_tag('logo-white.png'), "/"
          .company
            ©️FURIMA, Inc.