-# 商品出品ページ メインコンテンツ

.head-logo
  =image_tag '/assets/logo.png', class:"logo"

.seller
  .seller__in
    .seller__in__item
      = form_for [@item] do |f|
      .seller__in__item__image
        .seller__in__item__image__text
          %h2 出品画像
          %span 必須
        .seller__in__item__image__images
          %p 最大3枚までアップロードできます
        .form
          %label
            = icon('fas', 'camera', class: 'icon')
            %input.form-file{type: "file", maximage: "3", name: "avatar", accept: ".png, .jpg, .jpeg, .pdf, .doc"}
      .seller__in__item__name
        .seller__in__item__name__text
          %h2 商品名
          %span 必須
        .seller__in__item__name__message
          %input.seller__in__item__name__message__input{name: "item", placeholder: "40文字まで", type: "text", value: "", maxlength: "40", required: "required"}/

    .seller__in__details
      .seller__in__details__text
        %h2 商品説明
        %span 必須
      .seller__in__details__product
        -# =form_for @item do |f|
        %textarea{class: 'seller__in__details__product__input', placeholder: '商品の説明。(必須 1,000文字以内)&#13;&#10;(色、素材、重さ、低下、注意点など)&#13;&#10;&#13;&#10;例）2010年ごろに1万円で購入したジャケットです。&#13;&#10; 食べ物をこぼしてしまい、目立つ汚れがあります。'.html_safe, cols:'40', rows:'4', type: 'text', value: '', maxlength: '1000', required: 'required'}
    .seller__in__genre
      .seller__in__genre__title
        %P 商品の詳細
      .seller__in__genre__categoly
        %h2 カテゴリー
        %span 必須

        -# ↓  ！！！！！！"seller__in__genre__input__box", id:"select-category"は変更しないでください！！！！！！
      .seller__in__genre__input  
        = form_with category: @parents, class:"seller__in__genre__input__box", id:"select-category", remote: true do |f|
          = f.select :category, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}

      .seller__in__genre__brand
        %p ブランド（任意）
        %input.seller__in__genre__brand__input{name: "brand", placeholder: "例）シャネル", type: "text", value: ""}/
    .seller__in__status
      .seller__in__status__item
        %h2 商品の状態
        %span 必須
      .seller__in__status__input
        %select.seller__in__status__input__text{name: "itemnstatus", placeholder: "商品の状態を入力してください。", type: "text", value: "", required: "required"}
          %option{:value => "0"} 選択してください
          %option{:value => "1"} 新品、未使用
          %option{:value => "2"} 未使用に近い
          %option{:value => "3"} 目立った傷や汚れなし
          %option{:value => "4"} やや傷や汚れあり
          %option{:value => "5"} 傷や汚れあり
          %option{:value => "6"} 全体的に状態が悪い
    .seller__in__delivery
      .seller__in__delivery__title
        配送について
        = icon('fas', 'question-circle', class: 'question')
      .seller__in__delivery__pattern
        %h2 配送料の負担
        %span 必須
      .seller__in__delivery__way
        %select.seller__in__delivery__way__input{name: "delivery", placeholder: "選択してください。", type: "text", value: "", required: "required"}
          %option{:value => "0"} 選択してください　　　　　　　　　　　
          %option{:value => "1"} 送料込み（出品者負担）
          %option{:value => "2"} 着払い(購入者負担)
      .seller__in__delivery__area
        %h2 発送元の地域
        %span 必須
      .seller__in__delivery__input
        %select.seller__in__delivery__input__area{name: "area", placeholder: "選択してください。", type: "text", value: "", required: "required"}
          %option{:value => "0"} 選択してください　　　　　　　　　　　
          %option{:value => "1"} 北海道
          %option{:value => "2"} 青森県
          %option{:value => "3"} 岩手県
          %option{:value => "4"} 宮城県
          %option{:value => "5"} 秋田県
          %option{:value => "6"} 山形県
          %option{:value => "7"} 福島県
          %option{:value => "8"} 茨城県
          %option{:value => "9"} 栃木県
          %option{:value => "10"} 群馬県
          %option{:value => "11"} 埼玉県
          %option{:value => "12"} 千葉県
          %option{:value => "13"} 東京都
          %option{:value => "14"} 神奈川県
          %option{:value => "15"} 新潟県
          %option{:value => "16"} 富山県
          %option{:value => "17"} 石川県
          %option{:value => "18"} 群馬県
          %option{:value => "19"} 山梨県
          %option{:value => "20"} 長野県
          %option{:value => "21"} 岐阜県
          %option{:value => "22"} 静岡県
          %option{:value => "23"} 愛知県
          %option{:value => "24"} 三重県
          %option{:value => "25"} 滋賀県
          %option{:value => "26"} 京都府
          %option{:value => "27"} 大阪府
          %option{:value => "28"} 兵庫県
          %option{:value => "29"} 奈良県
          %option{:value => "30"} 和歌山県
          %option{:value => "31"} 鳥取県
          %option{:value => "32"} 島根県
          %option{:value => "33"} 岡山県
          %option{:value => "34"} 広島県
          %option{:value => "35"} 山口県
          %option{:value => "36"} 徳島県
          %option{:value => "37"} 香川県
          %option{:value => "38"} 愛媛県
          %option{:value => "39"} 高知県
          %option{:value => "40"} 福岡県
          %option{:value => "41"} 佐賀県
          %option{:value => "42"} 長崎県
          %option{:value => "43"} 熊本県
          %option{:value => "44"} 大分県
          %option{:value => "45"} 宮崎県
          %option{:value => "46"} 鹿児島県
          %option{:value => "47"} 沖縄県

      .seller__in__delivery__day
        .seller__in__delivery__day__date 
          %h2 発送までの日数
          %span 必須
        .seller__in__delivery__day__input
          %select.seller__in__delivery__day__input__text{type: "number", name: "date", min: "1", required: "required"}
            %option{:value => "0"} 選択してください　　　　　　　　　　　
            %option{:value => "1"} 1~2日で発送
            %option{:value => "2"} 2~3日で発送
            %option{:value => "3"} 4~7日で発送
    .seller__in__price
      .seller__in__price__title
        価格　(¥300~9,999,999)
        = icon('fas', 'question-circle', class: 'question')
      %ul.seller__in__price__item
        %li.seller__in__price__item__list
          %h2 販売価格
          %span 必須
        %li.seller__in__price__item__list
          =label_tag (:"¥")
          %input{type: "number", name: "price", max: "9999999", min: "300", value: "0", required: "required"}
      %ul.seller__in__price__tax
        %li 販売手数料　(10％）
        %li ー
      %ul.seller__in__price__fee
        %li 販売利益
        %li ー

    .seller__in__sale
      %input.seller__in__sale__input{type: "submit", value: "出品する"}
      %input.seller__in__sale__draft{type: "submit", value: "下書きに保存"} 
    .seller__in__retern
      = link_to "もどる","#",class: "retern"
    .seller__in__promise
      禁止されている
      =link_to "行為","#"
      および
      =link_to "出品物","#"
      を必ずご確認ください。
      =link_to "偽ブランド品","#"
      や
      =link_to "盗品物","#"
      などの販売は犯罪であり、法律により処罰される可能性があります。また、出品を持ちまして
      =link_to "加盟店規約","#"
      に同意したことになります。
  .seller__rule
    %ul.seller__rule__text
      %li 
      =link_to "プライバシーポリシー","#"
      %li
      =link_to "フリマ利用規約","#"
      %li
      =link_to "特定商取引に関する表記","#"
.footer-logo
  =image_tag '/assets/logo-white.png', class:"white-logo"
  %p.footer__company-name
    © FURIMA.Inc.