
.show-header
  = render 'header'

-# 商品詳細ページ
.details__breadcrumbs
  %ul.details__breadcrumbs__text
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        FURIMA
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        ベビー・キッズ 
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        ベビー服(男女兼用)~95cmアウター
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        product3

-# 商品詳細メインコンテンツ
.mainProduct
  .mainProduct__content
    .mainProduct__content__top
      .mainProduct__content__top__items
        %h2.mainProduct__content__top__items__name
          = @item.name
        .mainProduct__content__top__items__image
          = image_tag @item.item_images[0].item_image.url, class:"big"
        %ul.mainProduct__content__top__items__images
          - @item.item_images.each do |image|
            %li
              = image_tag image.item_image.url, :width => "75", :height => "75",class:"small"
            %li
        .mainProduct__content__top__items__price
          .amount
            ¥
            = @item.price
          %span.details
            （税込）
          %span.details
            = @item.delivery_price.delivery_price
        
        - if @item.buyer_id.blank?
          = link_to "購入画面に進む", confirm_item_path(@item.id), class: "mainProduct__content__top__items__buy"
        - else
          .mainProduct__content__top__items__sold
            売り切れました
        
        .mainProduct__content__top__items__introduction
          = @item.discription
        
        .mainProduct__content__top__items__table
          %table
            %tbody
              %tr.itemTable
                %th.table-left
                  出品者
                %td.table-right 
                  = @item.seller.nickname
  
              %tr.itemTable2
                %th.table-left
                  カテゴリー
                %td.table-right 
                  = link_to "#{@category_parent.name}","#"
                  %br
                  = link_to "#{@category_child.name}","#"
                  %br
                  = link_to "#{@category_grandchild.name}","#"
            
              %tr.itemTable
                %th.table-left
                  ブランド
                %td.table-right
                  = @item.brand.brand
            
              %tr.itemTable
                %th.table-left
                  商品のサイズ
                %td.table-right
                  = @item.size.size
            
              %tr.itemTable
                %th.table-left
                  商品の状態
                %td.table-right
                  = @item.condition.condition
                    
              %tr.itemTable
                %th.table-left
                  配送料の負担
                %td.table-right
                  = @item.delivery_price.delivery_price
                
              %tr.itemTable
                %th.table-left
                  発送元の地域
                %td.table-right
                  = @item.delivery_area.delivery_area
                    
              %tr.itemTable
                %th.table-left
                  発送日の目安
                %td.table-right
                  = @item.delivery_day.delivery_day

          - if user_signed_in? && @item.seller_id == current_user.id
            .items-show-button__edit
              = link_to '編集する', "#"
            .items-show-button__cancel
              = link_to '出品を取り消す', item_path(@item.id), method: :delete

          - else
            .buy-link-box
              - if user_signed_in?
                -if @item.buyer_id.blank?
                  = link_to '購入確認画面へ',confirm_item_path, class: "buy-link-if"
                - else
                  .buy-link-else
              - else
                = link_to "ログイン" ,new_user_session_path
          
        
        .mainProduct__content__top__items__optional
          %ul.optional
            %li.optional-favorite
              = link_to "#", class: "favorite" do
                = icon('fas', 'star', class: "star-icon")
                お気に入り 0
            %li.optional-report
              =link_to "#", class: "report" do
                = icon('fas', 'flag', class: "flag-icon")
                不適切な商品の通報
        


      .mainProduct__content__top__comments
        %form.commentBox-text
          %textarea.input-text(cols="40" rows="10" style="overflow:auto;")       
        .mainProduct__content__top__comments__notice
          .notice-text
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .mainProduct__content__top__comments__send
          %button.send-button(type = "submit")
            = icon('fas', 'comment', class: "comment-icon")
            コメントする
      




      .mainProduct__content__top__links
        %ul.item-prev
          %li
            = link_to "#" do
              = icon('fas', 'angle-left', class: "prev-icon")
              %span
                前の商品
          %li
            = link_to "#" do
              次の商品
              = icon('fas', 'angle-right', class: "next-icon")
              
      .mainProduct__content__top__showMore
        = link_to "#" do
          ベビー・キッズをもっと見る

.show-subfooter
  = render 'subfooter'

.show-footer 
  = render 'footer'

.show-exhibit-btn
  = render 'exhibit-btn'
