.show-header
  = render 'header'

.details__breadcrumbs
  %ul.details__breadcrumbs__text
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        HURIMA
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        ベビー・キッズ 
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        ベビー服(男女兼用)~95cmアウター
    %li.text__category
      = icon('fas', 'angle-right')
    %li.text__category
      = link_to "#", class: "breadcrumbs__text" do
        product3

-# 商品詳細メインコンテンツ
.mainProduct
  .mainProduct__content
    .mainProduct__content__top
      .mainProduct__content__top__items
        %h2.mainProduct__content__top__items__name
          product3
        .mainProduct__content__top__items__image
          = image_tag 'a007.png', class: "big"
        %ul.mainProduct__content__top__items__images
          %li
            = image_tag 'a007.png', class: "small"
          %li
            = image_tag 'a001.png', class: "small"
          %li
            = image_tag 'a004.png', class: "small"
        
        .mainProduct__content__top__items__price
          .amount
            ¥30000
          %span.details
            （税込）
          %span.details
            送料込み
        
        .mainProduct__content__top__items__introduction
          親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
        
        .mainProduct__content__top__items__table
          %table
            %tbody
              %tr.itemTable
                %th.table-left
                  出品者
                %td.table-right 
                  hogehoge  
  
              %tr.itemTable2
                %th.table-left
                  カテゴリー
                %td.table-right 
                  %a(href="#")
                    ベビー・キッズ
                    %br/
                  %a(href="#")
                    ベビー服(男女兼用) ~95cm
                    %br/
                  %a(href="#")
                    アウター
            
              %tr.itemTable
                %th.table-left
                  ブランド
                %td.table-right
            
            
              %tr.itemTable
                %th.table-left
                  商品のサイズ
                %td.table-right
            
              %tr.itemTable
                %th.table-left
                  商品の状態
                %td.table-right
                  未使用に近い
                    
              %tr.itemTable
                %th.table-left
                  配送料の負担
                %td.table-right
                  送料込み（出品者負担）
                
              %tr.itemTable
                %th.table-left
                  発送元の地域
                %td.table-right
                  岩手県
                    
              %tr.itemTable
                %th.table-left
                  発送日の目安
                %td.table-right
                  4-7日で発送
        
        .mainProduct__content__top__items__optional
          %ul.optional
            %li.optional-favorite
              = link_to "#", class: "favorite" do
                = icon('fas', 'star', class: "star-icon")
                お気に入り 0
            %li.optional-report
              =link_to "#", class: "report" do
                = icon('fas', 'flag', class: "flag-icon")
                不適切な商品の通報
        


      .mainProduct__content__top__comments
        %form.commentBox-text
          %textarea.input-text(cols="40" rows="10" style="overflow:auto;")       
        .mainProduct__content__top__comments__notice
          .notice-text
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .mainProduct__content__top__comments__send
          %button.send-button(type = "submit")
            = icon('fas', 'comment', class: "comment-icon")
            コメントする
      




      .mainProduct__content__top__links
        %ul.item-prev
          %li
            = link_to "#" do
              = icon('fas', 'angle-left', class: "prev-icon")
              %span
                前の商品
          %li
            = link_to "#" do
              次の商品
              = icon('fas', 'angle-right', class: "next-icon")
              
      .mainProduct__content__top__showMore
        = link_to "#" do
          ベビー・キッズをもっと見る

.show-subfooter
  = render 'subfooter'

.show-footer 
  = render 'footer'

.show-exhibit-btn
  = render 'exhibit-btn'